workflows/n8n/weekly_seo_audit.json
{
  "name": "Weekly Deep SEO Audit",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * MON"
            }
          ]
        }
      },
      "id": "trigger-weekly",
      "name": "Every Monday 08:00 ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:8000/api/seo/audit/deep/push-to-sheets",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "period_days", "value": "28" },
            { "name": "include_crawl", "value": "true" },
            { "name": "include_shopify_overrides", "value": "true" },
            { "name": "max_urls", "value": "250" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key", "value": "={{$env.OLS_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {
          "timeout": 600000,
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": false
            }
          }
        }
      },
      "id": "run-deep-audit",
      "name": "POST /api/seo/audit/deep/push-to-sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-ok",
              "leftValue": "={{$json.status}}",
              "rightValue": "success",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-success",
      "name": "Audit succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "content": "=✅ **Weekly SEO Deep Audit complete**\n\nReport ID: `{{$json.report_id}}`\nRows pushed to Sheets: `{{$json.push.rows_pushed}}`\nSpreadsheet: https://docs.google.com/spreadsheets/d/{{$json.push.spreadsheet_id}}\n\nReview the *Deep Audit — Executive Summary* tab first."
      },
      "id": "log-success",
      "name": "Log success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1180, 200]
    },
    {
      "parameters": {
        "content": "=❌ **Weekly SEO Deep Audit FAILED**\n\nDetail: `{{JSON.stringify($json)}}`\n\nCheck the FastAPI logs (`docker logs ols-api`) and rerun manually with:\n`curl -X POST -H \"X-API-Key: $OLS_API_KEY\" http://localhost:8000/api/seo/audit/deep/push-to-sheets`"
      },
      "id": "log-failure",
      "name": "Log failure",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1180, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Every Monday 08:00 ET": {
      "main": [[{ "node": "POST /api/seo/audit/deep/push-to-sheets", "type": "main", "index": 0 }]]
    },
    "POST /api/seo/audit/deep/push-to-sheets": {
      "main": [[{ "node": "Audit succeeded?", "type": "main", "index": 0 }]]
    },
    "Audit succeeded?": {
      "main": [
        [{ "node": "Log success", "type": "main", "index": 0 }],
        [{ "node": "Log failure", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Runs the deep SEO audit weekly (Monday 08:00) and posts the executive summary + winners/losers/striking-distance/CTR opportunities/crawl issues to the Operator Dashboard Google Sheet. Manual fallback: POST /api/seo/audit/deep/push-to-sheets with header X-API-Key."
  },
  "id": "weekly_seo_audit",
  "tags": ["seo", "scheduled", "weekly"]
}
